<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
        <piaf-breadcrumb :heading="$t('menu.types')" />
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>
    <b-row>
        <b-colxx md="6" sm="6" lg="4" xxs="12">
          <b-card class="mb-4 text-center">
            <router-link to="?">
              <i class="iconsminds-bucket icon-lg" />
              <h6 class="mb-1 card-subtitle">Create a Will</h6>
              <p class="text-muted text-small mb-4">Quick and easy to use</p>
            </router-link>
            <b-button size="sm" variant="outline-primary">Manage Now</b-button>
          </b-card>
        </b-colxx>
                <b-colxx md="6" sm="6" lg="4" xxs="12">
          <b-card class="mb-4 text-center">
            <router-link to="?">
              <i class="iconsminds-data-cloud icon-lg" />
              <h6 class="mb-1 card-subtitle">Personal Accounts</h6>
              <p class="text-muted text-small mb-4">Keep your social life secure</p>
            </router-link>
            <b-button size="sm" variant="outline-primary">Manage Now</b-button>
          </b-card>
        </b-colxx>
                <b-colxx md="6" sm="6" lg="4" xxs="12">
          <b-card class="mb-4 text-center">
            <router-link to="?">
              <i class="iconsminds-folder-add-- icon-lg" />
              <h6 class="mb-1 card-subtitle">Create Personal Messages</h6>
              <p class="text-muted text-small mb-4">Video, Audio and Written messages</p>
            </router-link>
            <b-button size="sm" variant="outline-primary">Manage Now</b-button>
          </b-card>
        </b-colxx>
    </b-row>
  </div>
</template>

<script>
import GradientCard from "../../../components/Cards/GradientCard";
import GradientWithRadialProgressCard from "../../../components/Cards/GradientWithRadialProgressCard";
import AdvancedSearch from "../../../containers/dashboards/AdvancedSearch";
import BestSellers from "../../../containers/dashboards/BestSellers";
import ConversionRatesChartCard from "../../../containers/dashboards/ConversionRatesChartCard";
import IconCardsCarousel from "../../../containers/dashboards/IconCardsCarousel";
import Logs from "../../../containers/dashboards/Logs";
import Tickets from "../../../containers/dashboards/Tickets";
import ProductCategoriesPolarArea from "../../../containers/dashboards/ProductCategoriesPolarArea";
import ProfileStatuses from "../../../containers/dashboards/ProfileStatuses";
import RecentOrders from "../../../containers/dashboards/RecentOrders";
import SalesChartCard from "../../../containers/dashboards/SalesChartCard";
import SmallLineCharts from "../../../containers/dashboards/SmallLineCharts";
import SortableStaticticsRow from "../../../containers/dashboards/SortableStaticticsRow";
import TopRatedItems from "../../../containers/dashboards/TopRatedItems";
import WebsiteVisitsChartCard from "../../../containers/dashboards/WebsiteVisitsChartCard";

export default {
  components: {
    "advanced-search": AdvancedSearch,
    "best-sellers": BestSellers,
    cakes: Cakes,
    calendar: Calendar,
    "converconversion-rates-chart-card": ConversionRatesChartCard,
    "icon-cards-carousel": IconCardsCarousel,
    logs: Logs,
    tickets: Tickets,
    "product-categories-polar-area": ProductCategoriesPolarArea,
    "profile-statuses": ProfileStatuses,
    "recent-orders": RecentOrders,
    "sales-chart-card": SalesChartCard,
    "small-line-charts": SmallLineCharts,
    "sortable-statictics-row": SortableStaticticsRow,
    "top-rated-items": TopRatedItems,
    "website-visit-chart-card": WebsiteVisitsChartCard,
    "gradient-card": GradientCard,
    "gradient-with-radial-progress-card": GradientWithRadialProgressCard
  }
};
</script>
