<template>
<div>
    <b-row>
        <b-colxx xxs="12">
            <piaf-breadcrumb :heading="$t('menu.accounts')" />
            <div class="separator mb-5"></div>
        </b-colxx>
    </b-row>

    <b-row>
        <b-colxx xxs="12" md="12" xl="12">
            <b-card class="mb-4" no-body>
                <single-lightbox thumb="/assets/img/details/5.jpg" large="/assets/img/details/5.jpg" class-name="responsive border-0 card-img-top mb-3" />
                <b-card-body>
            <b-button class="mb-4" variant="outline-primary"
              >Add Another</b-button
            >
                </b-card-body>
            </b-card>
        </b-colxx>
    </b-row>
</div>
</template>