<template>
  <b-card no-body>
    <b-card-body class="wizard wizard-default">
      <form-wizard>
        <tab
          :name="$t('wizard.step-name-1')"
          :desc="$t('wizard.step-desc-1')"
          :selected="true"
        >
          <!-- 1st Tab - Your Details -->
          <div class="wizard-basic-step">
            <h2 class="mb-2">Your Details</h2>
            <p class="mb-4">
              Who is the Last Will and testament been greated for?
            </p>
            <b-form-group :label="$t('form-components.radios')">
              <b-form-radio-group>
                <b-form-radio value="first">Male</b-form-radio>
                <b-form-radio value="second">Female</b-form-radio>
                <b-form-radio value="third">Other</b-form-radio>
              </b-form-radio-group>
            </b-form-group>

            <b-row>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Prefix">
                    <b-form-input type="text" placeholder="Mr,Mrs,Ms" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="First Name">
                    <b-form-input type="text" placeholder="First Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-row class="mb-4">
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Last Name">
                    <b-form-input type="text" placeholder="Last Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Date of Birth* (dd/mm/yyyy)">
                    <b-form-input
                      type="select"
                      placeholder="Date of Birth* (dd/mm/yyyy)"
                    />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <h4 class="card-title">Address</h4>
            <b-row class="mb-4">
              <b-colxx md="4" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Address Line 1">
                    <b-form-input type="text" placeholder="Address Line 1" />
                  </b-form-group>
                  <b-form-group label="Address Line 2">
                    <b-form-input type="text" placeholder="Address Line 2" />
                  </b-form-group>
                  <b-form-group label="City">
                    <b-form-select type="text" placeholder="City" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
          </div>
        </tab>
        <!-- 2nd Tab Executor Details-->
        <tab :name="$t('wizard.step-name-2')" :desc="$t('wizard.step-desc-2')">
          <div class="wizard-basic-step">
            <h2 class="mb-2">Executor / Personal Representative</h2>
            <p class="mb-4">
              An executor is the person or organisation responsible for ensuring
              that the wishes of your estate as specified in your will are
              carried out.
            </p>
            <b-row class="mb2">
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Full Name">
                    <b-form-input type="text" placeholder="Full Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Date of Birth* (dd/mm/yyyy)">
                    <b-form-input
                      type="text"
                      placeholder="Date of Birth* (dd/mm/yyyy)"
                    />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-row>
              <b-colxx md="4" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="City">
                    <b-form-select type="text" placeholder="City" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-button class="mb-4" variant="outline-primary"
              >Add Another</b-button
            >
            <h4>
              Should your original executors be deceased or not available to
              assist your estate do you want to appoint an alternative?
            </h4>
            <b-form-group label="Select Backup Executor">
              <b-form-radio-group>
                <b-form-radio value="first">Yes</b-form-radio>
                <b-form-radio value="second">No</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
            <b-row class="mb2">
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Full Name">
                    <b-form-input type="text" placeholder="Full Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Date of Birth* (dd/mm/yyyy)">
                    <b-form-input
                      type="text"
                      placeholder="Date of Birth* (dd/mm/yyyy)"
                    />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-row>
              <b-colxx md="4" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="City">
                    <b-form-select type="text" placeholder="City" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
          </div>
        </tab>
        <!-- 3rd Tab - Your Children -->
        <tab :name="$t('wizard.step-name-3')" :desc="$t('wizard.step-desc-3')">
          <div class="wizard-basic-step">
            <h2 class="mb-2">Your Children</h2>
            <p class="mb-4">
              List your children to give then access to you will.
            </p>
            <b-row>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="First Name">
                    <b-form-input type="text" placeholder="First Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Last Name">
                    <b-form-input type="text" placeholder="Last Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-form-group label="Is this child a dependant?">
              <b-form-radio-group>
                <b-form-radio value="first">Yes</b-form-radio>
                <b-form-radio value="second">No</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
            <b-form-group
              label="Do you want to beneficiaries that are under 18 to receive their inheritance at a certain age?"
            >
              <b-form-radio-group>
                <b-form-radio value="first">Yes</b-form-radio>
                <b-form-radio value="second">No</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
            <b-button class="mb-4" variant="outline-primary"
              >Add Another</b-button
            >
          </div>
        </tab>
        <!-- 4rd Tab - Your Gaurdian -->
        <tab :name="$t('wizard.step-name-4')" :desc="$t('wizard.step-desc-4')">
          <div class="wizard-basic-step">
            <h2 class="mb-2">Your Children's Guardians</h2>
            <p class="mb-4">
              Add the people you wish your children to be taken care of.
            </p>
            <b-row class="mb2">
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Full Name">
                    <b-form-input type="text" placeholder="Full Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Date of Birth* (dd/mm/yyyy)">
                    <b-form-input
                      type="text"
                      placeholder="Date of Birth* (dd/mm/yyyy)"
                    />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-row>
              <b-colxx md="4" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="City">
                    <b-form-select type="text" placeholder="City" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-button class="mb-4" variant="outline-primary"
              >Add Another</b-button
            >
          </div>
        </tab>
        <!-- 5th Tab - Add an Asset-->
        <tab :name="$t('wizard.step-name-5')" :desc="$t('wizard.step-desc-5')">
          <div class="wizard-basic-step">
            <h2 class="mb-4">Add your Assets</h2>
            <b-row class="mb-4">
              <b-colxx md="2" sm="2" lg="2" xxs="4">
                <b-card class="mb-4 text-center">
                  <router-link to="?">
                    <i class="iconsminds-data-cloud icon-lg" />
                    <p class="text-muted text-small">Cash</p>
                  </router-link>
                </b-card>
              </b-colxx>
              <b-colxx md="2" sm="2" lg="2" xxs="4">
                <b-card class="mb-4 text-center">
                  <router-link to="?">
                    <i class="iconsminds-data-cloud icon-lg" />
                    <p class="text-muted text-small">Stocks</p>
                  </router-link>
                </b-card>
              </b-colxx>
              <b-colxx md="2" sm="2" lg="2" xxs="4">
                <b-card class="mb-4 text-center">
                  <router-link to="?">
                    <i class="iconsminds-data-cloud icon-lg" />
                    <p class="text-muted text-small">Vehicles</p>
                  </router-link>
                </b-card>
              </b-colxx>
              <b-colxx md="2" sm="2" lg="2" xxs="4">
                <b-card class="mb-4 text-center">
                  <router-link to="?">
                    <i class="iconsminds-data-cloud icon-lg" />
                    <p class="text-muted text-small">Property</p>
                  </router-link>
                </b-card>
              </b-colxx>
              <b-colxx md="2" sm="2" lg="2" xxs="4">
                <b-card class="mb-4 text-center">
                  <router-link to="?">
                    <i class="iconsminds-data-cloud icon-lg" />
                    <p class="text-muted text-small">Other</p>
                  </router-link>
                </b-card>
              </b-colxx>
            </b-row>
            <b-button class="mb-4" variant="outline-primary"
              >Add Another</b-button
            >
          </div>
        </tab>

        <!-- 6th Tab Pets -->
        <tab :name="$t('wizard.step-name-6')" :desc="$t('wizard.step-desc-6')">
          <div class="wizard-basic-step">
            <h2 class="mb-4">Your Pets</h2>
            <b-form>
              <b-form-group label="Do you have any pets?">
                <b-form-radio-group>
                  <b-form-radio value="first">Yes</b-form-radio>
                  <b-form-radio value="second">No</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </b-form>
            <b-row>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Pets Name">
                    <b-form-input type="text" placeholder="Pet Name" />
                  </b-form-group>
                </b-form>
              </b-colxx>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Pet Description">
                    <b-form-input type="text" placeholder="Jack Russel" />
                  </b-form-group>
                </b-form>
              </b-colxx>
            </b-row>
            <b-row>
              <b-colxx md="6" sm="12" lg="4" xxs="12">
                <b-form>
                  <b-form-group label="Pet Amount">
                    <b-form-input
                      type="text"
                      placeholder="Add mount to give to your pet"
                    />
                  </b-form-group>
                </b-form>
                            <b-form>
              <b-form-group label="Do you want to appoint someone else to look after your pet?">
                <b-form-radio-group>
                  <b-form-radio value="first">Yes</b-form-radio>
                  <b-form-radio value="second">No</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
            </b-form>
              </b-colxx>
            </b-row>
          </div>
        </tab>
        <!-- 7th Tab -->
        <tab :name="$t('wizard.step-name-7')" :desc="$t('wizard.step-desc-7')">
          <div class="wizard-basic-step">
            <h2 class="mb-2"> Total Failure Clause</h2>
              <b-form-group label="Where is the remainder of your estate going?">
                <b-form-radio-group>
                  <b-form-radio value="first">Individual</b-form-radio>
                  <b-form-radio value="second">Children</b-form-radio>
                  <b-form-radio value="second">Charity</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
             <h2 class="mb-2">Remainder of your Estate</h2>
              <b-form-group label="Where is the remainder of your estate going?">
                <b-form-radio-group>
                  <b-form-radio  value="first">Individual</b-form-radio>
                  <b-form-radio value="second">Children</b-form-radio>
                  <b-form-radio value="second">Charity</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
              <b-row>
                <b-colxx md="6" sm="12" lg="4" xxs="12">
                  <h2 class="mb-2">Do you have any additional details to mention?</h2>
              <b-form>
                  <b-form-group label="Description">
                    <b-form-textarea
                      type="text"
                      placeholder="Please bury me in Auckland"
                    />
                  </b-form-group>
                </b-form>
                </b-colxx>
                </b-row>
          </div>
        </tab>
        <tab type="done">
          <div class="wizard-basic-step text-center">
            <h2 class="mb-2">{{ $t("wizard.content-thanks") }}</h2>
            <p></p>
          </div>
        </tab>
      </form-wizard>
    </b-card-body>
  </b-card>
</template>

<script>
import FormWizard from "../../components/Form/Wizard/FormWizard";
import Tab from "../../components/Form/Wizard/Tab";

export default {
  components: {
    "form-wizard": FormWizard,
    tab: Tab
  }
};
</script>
